@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

body{
    background-color: #000000;
}

hr {
    border: 1px solid #545454;
}

.main_div {
    max-width: 882px;
    margin: 0 auto;
}

.site_logo {
    margin: 20px 0 20px;
    max-width: 159px;
    max-height: 34px;
}

.main_topic {
    height: 135px;
    margin: 2% 0;
    /*border: 1px solid white;*/
}

.user_title {
    display: block;
    margin: 0.8% 0 0 0;
    max-width: 596px;
    /*border: 1px solid white;*/
    float: left;
}

.profession {
    display: inline-block;
    margin-top: 6px;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.profession:hover {
    cursor: default;
}

.user_photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100px;
    float: left;
    margin-right: 4%;
}

.user_name {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
}
.user_name:hover {
    cursor: default;
}

.edit_icon_b {
    display: block;
    background-color: black;
    border: 1px solid white;
    float: left;
    margin-top: 3.2%;
    width: 24px;
    height: 24px;
    outline: none;
}
.edit_icon_b:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.edit_icon {
    transform: scale(1.3);
}

.add_title_b {
    display: block;
    min-width: 150px;
    max-width: 80%;
    height: 50px;
    float: right;
    margin-top: 3%;
    background-color: black;
    border: 1px solid white;
    outline: none;
}
.add_title_b:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.modal_user {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal_user_title {
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    line-height: 56px;
    margin-block-start: 0;
}
.modal_user_title:hover {
    cursor: default;
}

.modal_user_content {
    position: relative;
    background-color: white;
    max-width: 25%;
    border-radius: 20px;
    margin: 10% auto;
    padding: 3%;
    border: 2px solid black;
    width: 40%;
}

.edit_user_inp {
    display: block;
    width: 99%;
    height: 25px;
    padding-bottom: 1%;
    margin-bottom: 5%;
    font-size: medium;
    border: none;
    border-block-end: inherit;
    border-color: #d2d2d2;
    border-width: thin;
    outline: none;
}

.save_user_data_btn {
    background: black;
    color: #FFFFFF;
    border: none;
    width: 100%;
    height: 2.9em;
    font-size: larger;
    margin-top: 5%;
    outline: none;
}
.save_user_data_btn:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}

.close_btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: -42px;
    right: -51px;
    outline: none;
}
.close_btn:hover {
    cursor: pointer;
}

.first_work {
    position: relative;
    display: inline-block;
    float: left;
    margin: 1% 1%;
    background-color: white;
    width: 31%;
    height: 361px;
    border-radius: 10px;
    overflow: hidden;
}

.first_work_photo_wrapper {
    width: 100%;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
}
.first_work_photo_wrapper:hover {
    cursor: pointer;
}

.first_work_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
.first_work_photo:hover {
    transform: scale(1.05);
}

.span_wrapper {
    position: relative;
    height: 20%;
}

.first_work_span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
    overflow: hidden;
    font-weight: 900;
    font-size: larger;
    margin-left: 4%;
}
.first_work_span:hover {
    cursor: pointer;
}

.like_b_wrapper {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    float: right;
    right: 7%;
}
.like_b_wrapper:hover {
    cursor: pointer;
}

.modal_title {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal_title_title {
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    line-height: 56px;
    margin-block-start: 0;
}
.modal_title_title:hover {
    cursor: default;
}

.modal_title_content {
    position: relative;
    background-color: white;
    max-width: 25%;
    border-radius: 20px;
    margin: 10% auto;
    padding: 3%;
    border: 2px solid black;
    width: 40%;
}

.edit_title_inp {
    display: block;
    width: 99%;
    height: 25px;
    padding-bottom: 1%;
    margin-bottom: 5%;
    font-size: medium;
    border: none;
    border-block-end: inherit;
    border-color: #d2d2d2;
    border-width: thin;
    outline: none;
}

.save_title_data_btn {
    background: black;
    color: #FFFFFF;
    border: none;
    width: 100%;
    height: 2.9em;
    font-size: large;
    margin-top: 5%;
    outline: none;
}
.save_title_data_btn:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}

.close_title_btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: -42px;
    right: -51px;
    outline: none;
}

.close_title_btn:hover {
    cursor: pointer;
}

@media screen and (max-width:1200px){
    .site_logo {
        margin: 3% 0 20px 5%;
        transform: scale(1.5);
    }

    .user_title {
        max-width: 34em;
    }

    .edit_icon_b {
        margin-top: 2.8%;
        width: 2.2em;
        height: 2.2em;
    }

    .edit_icon {
        transform: scale(1.6);
    }

    .modal_user_content {
        width: 50%;
        max-width: 50%;
        padding: 4% 5%;
    }

    .button_icon {
        transform: scale(1.2);
    }

    .close_btn {
        top: -3.7em;
        right: -4.2em;
    }

    .modal_title_content {
        width: 50%;
        max-width: 50%;
        padding: 4% 5%;
    }

    .close_title_btn {
        top: -3.7em;
        right: -4.2em;
    }

    .first_work {
        width: 48%;
        height: 34em;
    }

    .first_work_span {
        font-size: 1.7em;
        margin-left: 7%;
    }

    .like_b_wrapper {
        top: 54%;
        right: 9%;
    }

    .like_icon {
        transform: scale(1.4);
    }
}

@media screen and (max-width: 768px){
    .site_logo {
        margin: 3% 0 3% 5%;
        transform: scale(1.2);
    }

    .main_topic {
        position: relative;
        height: 29.5em;
        margin: 0 0;
    }

    .user_title {
        position: relative;
        display: block;
        max-width: none;
        margin: 0.8% 0 0 0;
        width: 100%;
        height: 100%;
        float: left;
    }

    .user_photo {
        display: block;
        float: none;
        width: 15em;
        height: 15em;
        border-radius: 15em;
        margin-top: 3em;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-right: 0;
    }

    .user_name {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2.6em;
        line-height: 2em;
        margin-top: 0.7em;
    }

    .profession {
        width: 100%;
        text-align: center;
        margin-top: 0;
        font-size: 1.6em;
        line-height: 1em;
    }

    .edit_icon_b {
        position: absolute;
        border: 3px solid white;
        float: none;
        margin-top: 0;
        bottom: 6%;
        left: 2%;
        width: 2.5em;
        height: 2.5em;
    }

    .edit_icon {
        transform: scale(1.7);
    }

    .modal_user_content {
        padding: 7%;
        width: 64%;
        max-width: 64%;
        margin: 20% auto;
    }

    .modal_user_title {
        font-size: 1.5em;
    }

    .close_btn {
        top: -4em;
        right: -4.2em;
    }

    .edit_user_inp {
        padding-bottom: 2%;
        margin-bottom: 8%;
        font-size: 1.3em;
    }

    .save_user_data_btn {
        font-size: 1.3em;
        margin-top: 0;
    }

    .add_title_b {
        display: block;
        min-width: 96%;
        height: 6em;
        margin-right: 2%;
        margin-bottom: 5.5em;
        border: 3px solid white;
    }

    .button_icon {
        transform: scale(1.3);
    }

    .modal_title_content {
        padding: 7%;
        width: 64%;
        max-width: 64%;
        margin: 20% auto;
    }

    .modal_title_title {
        font-size: 1.5em;
    }

    .edit_title_inp {
        padding-bottom: 2%;
        margin-bottom: 8%;
        font-size: 1.3em;
    }

    .save_title_data_btn {
        font-size: 1.3em;
        margin-top: 0;
    }

    .close_title_btn {
        top: -4em;
        right: -4.2em;
    }

    .first_work {
        width: 90%;
        height: 36.5em;
        margin: 2% 5%;
    }

    .first_work_span {
        font-size: 1.8em;
        margin-left: 7%;
    }

    .like_b_wrapper {
        top: 54%;
        right: 11%;
    }

    .like_icon {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 425px){

    .main_topic {
        height: 23em;
    }

    .user_photo {
        width: 12em;
        height: 12em;
    }

    .user_name {
        font-size: 1.8em;
    }

    .profession {
        font-size: 1em;
    }

    .edit_icon_b {
        border: 2px solid white;
        padding: 2px;
        width: 1.8em;
        height: 1.8em;
    }

    .edit_icon {
        transform: scale(1.1);
    }

    .modal_user_content {
        padding: 6%;
        width: 62%;
        max-width: 62%;
    }

    .modal_user_title {
        font-size: 0.9em;
        line-height: 2em;
    }

    .close_btn {
        top: -3em;
        right: -3.2em;
    }

    .close_icon {
        transform: scale(0.7);
    }

    .edit_user_inp {
        font-size: 0.8em;
    }

    .save_user_data_btn {
        font-size: 0.8em;
        height: 1.9em;
    }

    .add_title_b {
        height: 4em;
        margin-bottom: 2.7em;
    }

    .modal_title_content {
        padding: 6%;
        width: 62%;
        max-width: 62%;
    }

    .modal_title_title {
        line-height: 2em;
        font-size: 0.9em;
    }

    .edit_title_inp {
        font-size: 0.9em;
    }

    .save_title_data_btn {
        font-size: 0.9em;
        height: 1.9em;
    }

    .close_title_btn {
        top: -3em;
        right: -3.2em;
    }

    .first_work {
        height: 22.5em;
    }

    .first_work_span {
        font-size: 1.1em;
        margin-left: 7%;
    }

    .like_b_wrapper {
        top: 54%;
        right: 11%;
    }

    .like_icon {
        transform: scale(1);
    }
}